<mat-toolbar>
  <mat-toolbar-row class="toolbar-rows">
    <div *ngIf="isLoggedIn">
        <span><h1>{{ username }}</h1></span>
        <sub>Wallet: ${{ wallet }}</sub>
    </div>

    <span class="toolbar-fill"></span>
    <div *ngIf="isLoggedIn">
      <button mat-button color="primary" aria-label="Logout" (click)="logout()">
        Logout
      </button>
    </div>
    <div *ngIf="!isLoggedIn">
      <button mat-raised-button color="primary" aria-label="Login" (click)="login()">
        Login
      </button>
      {{ ' ' }}
      <button mat-raised-button color="secondary" aria-label="Register" (click)="register()">
        Register
      </button>
    </div>

  </mat-toolbar-row>
  
    <mat-toolbar-row class="toolbar-rows">
      <span class="toolbar-fill"></span>
      <sub class="time-update">Last Update: {{lastUpdated}}</sub>
      <button mat-icon-button aria-label="Refresh Stock" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="toolbar-rows">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <span class="toolbar-fill"></span>
      <mat-form-field>
        <mat-label>Currency</mat-label>
        <mat-select [(value)]="currency" (selectionChange)="refresh()">
          <mat-option *ngFor="let currency of currencyList" [value]="currency.symbol">
            {{currency.symbol}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price | number:'1.2'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency </th>
      <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
    </ng-container>
  
    <ng-container matColumnDef="numberAvailable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Number Available </th>
      <td mat-cell *matCellDef="let element"> {{element.numberAvailable | number}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showStockDetails(row)"></tr>
  </table>
